h1{
	text-align:center;
	padding:40px;
}
#left{
	float:left;
	margin-left:170px;
}
#right{
	float:left;
	margin-left:140px;
}
.layui-form-pane{
	background-color: #d3dcdc;
	opacity:0.8;
	height:490px;
	width:1100px;
	margin:auto;
	margin-top:60px;
}